p {
  font-size: 24px;
}

img {
  height: 90%;
  width: 90%;
  margin-left: 5%
}

body {
  background-color: rgb(145, 165, 232);
}

#game-over {
  display: none;
}

#training-splash {
  display: none;
}

#name-players {
  display: none;
}

#player2-human {
  display: none;
}

div#invalid-player-name {
  display: none;
  color: red;
  padding-top: 5px;
}

div#gameboard-content {
  display: none;
  width: 90%;
  margin: 10% auto;
}

.center {
  text-align: center;
}

.col-xs-4 {
  height: 25vw;
  width: 25vw;
  max-width: 200px;
  max-height: 200px;
}

.entire-game {

}

.highlight {
  border: 2px solid red;
}

.no-show {
  display: none;
}

div.image-holder {
  width: 100%;
  margin-top: 3%;
}

div.image-holder img {
  width: 50%;
  margin-left: 0%;
}

.middle-col, .middle-row, .middle-middle {
  border-color: black;
  border-style: solid;
}

.middle-col {
  border-width: 0px 5px;
}

.middle-row {
  border-width: 5px 0px;
}

.middle-middle {
  border-width: 5px 5px;
}

.symbol {
  margin-top: 8%;
}

.symbol-pic {
  height: 50px;
  width: 50px;
}

div.players-landing-page {
  width: 100%;
  height: 100vh;
}

div.players-landing-page-container {
  top: 40px;
  border-radius: 5%;
  position: relative;
  left: 20%;
  width: 60%;
  background: #bac9e2;
  padding: 5%;
  margin-bottom: 50px;
}

.landing-page-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(206, 211, 219, .5);
}

.landing-page {
  text-align: center;
  width: 50%;
  min-width: 200px;
  top: 20%;
  margin: 10vh auto;
  border-radius: 5%;
}


.holder, .landing-page {
  background: #bac9e2;
}

.holder {
  padding: 10% 0% 10% 0;
}

/*Loading Spinner*/
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 45%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
