p {
  font-size: 24px;
}

img {
  height: 90%;
  width: 90%;
  margin-left: 5%
}

#game-over {
  display: none;
}

#name-players {
  display: none;
}

#player2-human {
  display: none;
}

.center {
  text-align: center;
}

.col-sm-4 {
  height: 200px;
  width: 200px;
}

.highlight {
  border: 2px solid red;
}

div.image-holder {
  width: 100%;
  margin-top: 3%;
}

div.image-holder img {
  width: 50%;
  margin-left: 0%;
}

.middle-col, .middle-row, .middle-middle {
  border-color: black;
  border-style: solid;
}

.middle-col {
  border-width: 0px 5px;
}

.middle-row {
  border-width: 5px 0px;
}

.middle-middle {
  border-width: 5px 5px;
}

.symbol {
  margin-top: 8%;
}

.symbol-pic {
  height: 50px;
  width: 50px;
}

div.players-landing-page {
  position: fixed;
  z-index: 10;
  background: rgba(183, 201, 232, .5);
  width: 100%;
  height: 100%;
}

div.players-landing-page-container {
  position: relative;
  z-index: 15;
  top: 10vh;
  left: 20%;
  width: 55%;
  background: #bac9e2;
  padding: 5%;
}
/*
.landing-page, .players-landing-page {
  position: fixed;
  z-index: 1000;
  background: rgba(183, 201, 232, .5);
  width: 100%;
  height: 100%;
}

.holder, .landing-page-container, .players-landing-page-container, .players-holder {
  background: #bac9e2;
}

.landing-page-container, .players-landing-page-container {
  margin-top: 200px;
  margin-right: 40%;
  margin-left: 40%;
  padding: 15px;
}

.holder, .players-holder {
  margin: 10%;
}*/
