#game-over {
  display: none;
}
/*.entire-game {
  display: none;
}*/

.col-sm-4 {
  height: 200px;
  width: 200px;
}

p {
  font-size: 24px;
}

img {
  height: 90%;
  width: 90%;
  margin-left: 5%
}

.highlight {
  border: 2px solid red;
}

 .middle-col, .middle-row, .middle-middle {
   border-color: black;
   border-style: solid;
 }

 .middle-col {
   border-width: 0px 5px;
 }

 .middle-row {
   border-width: 5px 0px;
 }

.middle-middle {
  border-width: 5px 5px;
}

.symbol {
  margin-top: 8%;
}

.symbol-pic {
  height: 50px;
  width: 50px;
}

.landing-page {
  position: fixed;
  z-index: 1000;
  background: rgba(183, 201, 232, .5);
  width: 100%;
  height: 100%;

}

.holder, .landing-page-container {

  background: #bac9e2;
}

.landing-page-container {
  margin-top: 200px;
  margin-right: 40%;
  margin-left: 40%;
  padding: 15px;
}

.holder {
  margin: 10%;

}
